body
{
background-size: cover;
background-position: center;
text-align: center;
}

.h4{
    width: 100%;
    text-align: left;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 10px;
}